<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server error</title>
    <link rel="stylesheet" href="commonStyles.css">
</head>
<body>
    <h1>Ineteral Server Error</h1>
    {{#if message}}
    <p>{{message}}</p>
    {{else}}
    <p>Something went on our end. Please try again later.</p>
</body>
</html>